/** if want to add custom dialog use [dialog_attribute_name] to style its children  */
/** on the bottom of this css file  */

.dialog {
  border: none;
  background-color: transparent;
  border-radius: 10px;

  width: max-content;
  height: max-content;

  padding: 0;

  margin: 0 auto;

  margin-top: 30px;

}

.dialog > form {
  /* background-color: green; */

  width: max-content;
  height: max-content;

  border-radius: 10px;
}


div#delete_dialog_conatiner {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--ewhite-color);
  width: 100%;
  height: max-content;
  /* min-height: calc(100vh - 5vh); */
  min-width: calc(100vw - 60vw);

  padding: 0;
  margin: 0;

  border-radius: 15px;
}

div.dialog_container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--ewhite-color);
  width: 100%;
  height: max-content;
  /* min-height: calc(100vh - 5vh); */
  min-width: calc(100vw - 5vw);

  padding: 0;
  margin: 0;

  border-radius: 15px;
}

div.dialog_container > .top_design {
  background-color: var(--text-color2);
  width: 100%;
  height: 40px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.top_design > button {
  background-color: var(--text-color2);
  border: none;

  width: 25px;
  height: 25px;

  position: relative;
  right: 10px;

  margin: 0;
  padding: 0;

  border-radius: 5px;

  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: bolder;
  font-size: 12px;

  color: white;
}

.top_design > button:hover {
  background-color: aliceblue;
  color: var(--etopbotnav-color);
  cursor: pointer;
}

/* header */
div.dialog_container > .dialog_header {
  /* background-color: green; */
  width: 100%;
  height: 40px;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  flex-direction: row;
}

div.dialog_header > label {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;

  position: relative;
  left: 20px;

  padding: 0;
  margin: 0;
  padding-right: 24px;
}

div.dialog_header > h1 {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: normal;

  color: #2600ff;

  padding: 0;
  margin: 0;
}

/* content */
div.dialog_container > .dialog_content {
  /* background-color: orange; */
  width: 100%;
  height: max-content;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

div.dialog_content > textarea {
  position: relative;
  left: 20px;
  resize: none;
  width: calc(100% - 40px);
  height: 100px;
  border: none;

  border-bottom: 1px solid var(--etopbotnav-color);
  color: var(--etopbotnav-color);
}
div.dialog_content textarea:focus {
  outline: none;
  border: none;

  border-bottom: 1px solid var(--etopbotnav-color);
}

div.dialog_content > input[type="text"] {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 40px);

  font-family: sans-serif;

  border: none;

  border-bottom: 1px solid var(--etopbotnav-color);
}

div.dialog_content > input[type="text"]:focus {
  outline: none;
}

div.dialog_content > input[type="date"] {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 40px);

  font-family: sans-serif;

  border: none;

  cursor: pointer;

  border-bottom: 1px solid var(--etopbotnav-color);
}

/* div.dialog_content > input[type="date"]:focus {
  outline: none;
} */

div.dialog_content > input[type="time"] {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 40px);

  font-family: sans-serif;

  border: none;

  cursor: pointer;

  border-bottom: 1px solid var(--etopbotnav-color);
}

div.dialog_content > select {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 40px);

  font-family: sans-serif;

  border: none;

  cursor: pointer;

  border-bottom: 1px solid var(--etopbotnav-color);
}
div.dialog_content > #q_time {
  width: 100%;
  height: max-content;

  margin: 0;
  padding: 0;

  display: inline-block;
}

div.dialog_content #q_time > select#quiz_time_num_selection {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 180px);

  font-family: sans-serif;

  border: none;

  cursor: pointer;

  border-bottom: 1px solid var(--etopbotnav-color);
}

div.dialog_content #q_time > select#timer_unit_input {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 180px);

  font-family: sans-serif;

  border: none;

  cursor: pointer;

  border-bottom: 1px solid var(--etopbotnav-color);
}

/* quiz */
div.dialog_content #q_time > select#the_quiz_selection {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 180px);

  font-family: sans-serif;

  border: none;

  cursor: pointer;

  border-bottom: 1px solid var(--etopbotnav-color);
}

div.dialog_content #q_time > select#the_quiz_unit_input {
  position: relative;
  left: 20px;
  height: 25px;
  width: calc(100% - 180px);

  font-family: sans-serif;

  border: none;

  cursor: pointer;

  border-bottom: 1px solid var(--etopbotnav-color);
}

div.dialog_content > span {
  position: relative;
  left: 20px;
  height: max-content;
  width: calc(100% - 40px);

  font-family: sans-serif;

  border: none;

  /* border-bottom: 1px solid var(--etopbotnav-color); */
}

div.dialog_container > .dialog_footer {
  /* background-color: green; */

  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  margin-top: 5px;
}

.dialog_footer > input {
  position: relative;
  right: 20px;

  background-color: var(--etopbotnav-color);
  color: white;

  border: none;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 12px;

  padding: 10px;

  cursor: pointer;
}

.dialog_footer > button {
  position: relative;
  right: 20px;

  background-color: var(--etopbotnav-color);
  color: white;

  border: none;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 12px;

  padding: 10px;

  cursor: pointer;
}

.bottom_design {
  background-color: var(--text-color2);
  width: 100%;
  height: 20px;

  margin: 0;
  padding: 0;
  /* margin-top: 10px; */

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}







/* Create Container her */


#create_container > .dialog_the_square {
  /* background-color: green; */

  margin: 0;
  padding: 0;

  width: 100%;
  max-height: calc(100vh - 20vh);
  min-height: calc(100vh - 20vh);

  overflow-y: auto;

  /* overflow: hidden; */


}

#create_data_container {
  /* background-color: green; */

  width: 100%;
  max-height: calc(100vh - 20vh);
  min-height: 100px;

  margin: 0;
  padding: 0;
}


/* responsilbe for height of dialog */
#delete_data_container {
  /* background-color: green; */

  width: 100%;
  height: max-content;
  min-height: 100px;

  margin: 0;
  padding: 0;
  
}

/* #create_data_container > div {
  border: 2px solid red;

  width: 100%;
  height: 100px;

  margin: 0;
  padding: 0;
} */

#create_data_header {
  background-color: white;

  width: 100%;
  height: max-content;

  margin: 0;
  padding: 0;

  padding-top: 20px;
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  
}

#create_data_header > div {
  height: 100%;
  width: calc(100% - 50px);
  border-bottom: 2px solid black;
}


#create_data_header > h1 {
  position: relative;
  left: 20px;
}


#data_box_create {
  /* background-color: red; */

  width: 100%;
  height: max-content;
  min-height: calc(100vh - 50vh);
  max-height: calc(100vh - 50vh);

  

  margin: 0;
  padding: 0;

  padding-top: 0;
  padding-bottom: 0;

  overflow-y: auto;




}


#data_box_delete {
  /* background-color: red; */

  width: 100%;
  height: max-content;
  min-height: max-content;
  /* max-height: 100px; */

  

  margin: 0;
  padding: 0;

  padding-top: 0;
  padding-bottom: 0;

  overflow-y: auto;




}





div#record_container {
  /* background-color: orange; */

  width: calc(100% - 50px);
  height: max-content;
  min-height: 100px;

  margin: 0;
  padding: 0;

  padding-top: 20px;
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  left: 23px;

}






div#record_container > .label_input_container {

    /* background-color: green; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    margin: 0;
    padding: 0;

    width: calc(100% - 200px);
    height: 50px;

    margin-left: 20px;

    margin-top: 5px;

    position: relative;
}

.label_input_container > div {

    /* border: 2px solid black; */


    width: 100%;
    height: 50px;


    margin: 0;
    padding: 0;
}
.label_input_container > #s_label_c {

    /* background-color: brown; */

    width: max-content;
    min-width: 200px;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    padding-left: 20px;

}

#s_label_c > h6 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 900;

    cursor: default;
}

.label_input_container > #s_input_c {

    margin: 0;
    padding: 0;

    width: 100%;
    min-width: 200px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    
}

#s_input_c > input {

  outline: 2px solid gray;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;

  width: 210px;


  padding: 5px;

  margin: 0;

  border: none;
  border-radius: 3px;

  position: relative;
  left: 20px;

}

#s_input_c > select {

    outline: 2px solid gray;

    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;

    width: 210px;


    padding: 5px;

    margin: 0;

    border: none;
    border-radius: 3px;

    position: relative;
    left: 20px;

}


.label_input_container > #submit_box_c {

    margin: 0;
    padding: 0;

    width: 100%;
    min-width: 200px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    
}


#submit_box_c > .submit_btn {
  background-color: var(--etopbotnav-color);
  color: white;

  border: none;
  border-radius: 3px;

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;

  margin: 0;
  padding: 10px;

  position: relative;
  right: 100px;

}

#submit_box_c > .submit_btn:hover {
  color: lightblue;
}



/* update container */


/* read dialog */


/* maiin profile information part */
#profile_container > #profile_content {
    background-color: white;

    width: calc(100% - 100px);
    height: max-content;

    margin: 0;
    padding: 0;

    margin-top: 10px;
    

    border: none;
    border-radius: 3px;

    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;

}

#profile_content > div {
    /* border: 2px solid orange; */

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;


}


#personal_info_c {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: row;
}
#personal_info_c > div {
    width: 100%;
    height: 100%;

    /* border: 2px solid green; */
}

#personal_info_c > #picture_c {

    border: 1px solid rgb(137, 137, 137);
    border-radius: 3px;

    width: 250px;
    height: 200px;

    min-width: 200px;
    min-height: 200px;

    margin: 40px;
    padding: 25px;


    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

}

#picture_c > #user_status_icon {
    background-color: rgb(42, 209, 42);

    position: relative;
    top: -50px;
    left: 150px;

    border-radius: 50%;

    width: 30px;
    height: 30px;

    border: 50%;

    margin: 0;
    padding: 0;

    /* margin-left: 140px;
    margin-top: 140px; */

    z-index: 10;
}

#picture_c > img {

    border-radius: 50%;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

#info_c {

    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0;
    padding: 0;

    margin-top: 50px;

}

#info_c > div {
    /* border: 2px solid blue; */

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;


}

.info_content > p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;


}


#office_info_c {
    /* border: 2px solid green; */

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}

#office_info_c > div {
    /* border: 2px solid red; */
    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;
    

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

}

#label_c > p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;

    margin: 0;
    padding: 0;

    position: relative;
    left: 30px;


}

#content_c > p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;

    margin: 0;
    padding: 0;

    position: relative;
    left: 30px;
}



#delete_data_c {

  width: calc(100% - 20px);
  
  position: relative;
  left: 20px;
  height: max-content;

  margin: 0;
  padding: 0;
}

#delete_data_c > button {
  /* background-color: #105272; */
  background-color: red;

  color: white;

  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#delete_submit_container {
  /* background-color: lightblue; */

  width: 100%;
  height: 100px;
  
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

#delete_submit_container > button {
  position: relative;
  right: 20px;

  background-color: #105272;
  color: white;

  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;

  /* padding: 10px; */
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0;

  border: none;
  border-radius: 3px;
}

#create_box {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#user_to_delete {
  color: red;
  font-weight: 500;

  margin: 0;
  padding: 0;

  

}