

@import url("./app_dark.css");


main#main_container {

    background-color: var(--body-color);

    height: calc(100% - 100px);
    width: 100%;

    display: flex;
    flex-direction: row;

    position: fixed;
    top: 100px;


    margin: 0;
    padding: 0;




}

div#route_settings {
    /* background-color: green; */
    width: 100%;
    height: 100%;

    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;

    margin: 0;
    padding: 0;


    /* set the div#route_settings as scrollable element  */
    overflow-y: auto;
}


















#settings_container {
    background-color: #ECEBE1;

    margin: 0;
    padding: 0;

    

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: max-content;
    min-height: 100vh;


}




#settings_container > div {

    width: 100%;
    height: 100%;

    

}

#settings_container > #settings_header {

    background-color: white;

    width: calc(100% - 100px);
    height: max-content;

    margin: 0;
    padding: 0;

    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: 2px solid #105272;
} 

#settings_header > div {

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;



}

#settings_header > #header_title {

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    
}

#header_title > h1 {

    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;

    margin: 0;
    padding: 0;
    margin-left: 20px;

    cursor: default;

}

#settings_header > #header_button_c {

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    
}

#header_button_c > button {

    background-color: #105272;
    color: white;

    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;

    margin: 0;
    padding: 10px;
    margin-right: 20px;

    border: none;
    border-radius: 3px;


}

#header_button_c > button:hover {
    color: lightblue;
    cursor: pointer;

}









#settings_container > #settings_content {
    /* background-color: orange; */

    width: calc(100% - 100px);
    height: 100vh;


    margin: 0;
    padding: 0;

    margin-top: 10px;

    border: none;
    border-radius: 3px;

    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;

}



#settings_content > #settings_content_h {
    
    background-color: #a2a7ae;
    width: 100%;
    height: max-content;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    margin: 0;
    padding: 0;

    padding-top: 10px;
    padding-bottom: 10px;


}

#settings_content_h > div {
    background-color: transparent;
    width: 200px;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;

    border-right: 2px solid black;

    cursor: pointer;



}

.setting_main_C {
    background-color: #a2a7ae;
    width: 100%;
    height: max-content;
    

    margin: 0;
    padding: 0;

    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;

    position: relative;



}



#personal_box {
    display: flex;
}

#privacy_box {
    display: none;

}

#preferences_box {
    display: none;

}

.setting_main_C > .label_input_container {

    /* background-color: green; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    margin: 0;
    padding: 0;

    width: calc(100% - 200px);
    height: 50px;

    margin-left: 20px;

    margin-top: 5px;

    position: relative;
}

.label_input_container > div {

    /* border: 2px solid black; */


    width: 100%;
    height: 50px;


    margin: 0;
    padding: 0;
}
.label_input_container > #s_label_c {

    /* background-color: brown; */

    width: max-content;
    min-width: 200px;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    padding-left: 20px;

}

#s_label_c > h6 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 900;

    cursor: default;
}

.label_input_container > #s_input_c {

    margin: 0;
    padding: 0;

    width: 100%;
    min-width: 200px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    
}

#s_input_c > input {

    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;

    width: 200px;


    padding: 5px;

    margin: 0;

    border: none;
    border-radius: 3px;

    position: relative;
    left: 20px;

}

#s_input_c > select {

    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;

    width: 210px;


    padding: 5px;

    margin: 0;

    border: none;
    border-radius: 3px;

    position: relative;
    left: 20px;

}








